{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'animal/js/animal.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>{% trans "Add animal" %}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h4>{% trans "Add animal" %}</h4>
                <hr>
                <form role="form" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Owner" %} <b style="color: red;">*</b></label>
                                {{ animal_form.owner }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Specie" %} <b style="color: red;">*</b></label>
                                {{ animal_form.specie }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Breed" %} <b style="color: red;">*</b></label>
                                {{ animal_form.breed }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Color" %} <b style="color: red;">*</b></label>
                                {{ animal_form.color }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Animal's name" %} <b style="color: red;">*</b></label>
                                {{ animal_form.animal_name }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Fur" %}</label>
                                {{ animal_form.fur }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Birthdate" %}</label>
                                {{ animal_form.birthdate }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Sex" %}</label>
                                {{ animal_form.sex }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Spay or Neuter" %}</label>
                                {{ animal_form.spay_neuter }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "When?" %}</label>
                                {{ animal_form.spay_neuter_date }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Microchip" %}</label>
                                {{ animal_form.microchip }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{% trans "Dead" %}</label>
                                {{ animal_form.dead }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{% trans "Note" %}</label>
                                {{ animal_form.note }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-toolbar">
                        {% if editing %}
                            <div class="btn-group pull-right">
                                <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                            </div>
                            <div class="btn-group pull-right">
                                <a href="/" class="btn" style="background-color: #f5f5f5">{% trans "Cancel" %}</a>
                            </div>
                        {% else %}
                            <div class="btn-group pull-right">
                                <a href="/" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}