{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/show_modal_remove.js' %}"></script>
    {% if tab == '1' %}
        <script src="{% static 'animal/js/animal.js' %}"></script>
    {% endif %}
    {% if tab == '4' %}
        <script src="{% static 'services/js/select_exams.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'animal_search' %}">{% trans "Animals" %}</a></li>
            {% if tab == '2' and creating %}
                <li class="breadcrumb-item"><a href="{% url 'consultation_list' animal.id %}">{% trans "Consultation" %}</a></li>
            {% endif %}
            {% if tab == '3' and creating %}
                <li class="breadcrumb-item"><a href="{% url 'vaccine_list' animal.id %}">{% trans "Vaccine" %}</a></li>
            {% endif %}
            {% if tab == '4' and creating %}
                <li class="breadcrumb-item"><a href="{% url 'exam_list' animal.id %}">{% trans "Exam" %}</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ animal.animal_name }}</li>
        </ol>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if tab == '1' %}active{% endif %}" href="/animal/{% if editing %}edit{% else %}view{% endif %}/{{ animal.id }}" role="tab" aria-selected="{% if tab == '1' %}true{% else %}false{% endif %}">{% trans "Animal data" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == '2' %}active{% endif %}" href="/service/consultation/{% if creating %}new{% else %}list{% endif %}/{{ animal.id }}" role="tab" aria-selected="{% if tab == '1' %}true{% else %}false{% endif %}">{% trans "Consultation" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == '3' %}active{% endif %}" href="/service/vaccine/{% if creating %}new{% else %}list{% endif %}/{{ animal.id }}" role="tab" aria-selected="{% if tab == '3' %}true{% else %}false{% endif %}">{% trans "Vaccine" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == '4' %}active{% endif %}" href="/service/exam/{% if creating %}new{% else %}list{% endif %}/{{ animal.id }}" role="tab" aria-selected="{% if tab == '4' %}true{% else %}false{% endif %}">{% trans "Exam" %}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {% if tab == '1' %}show active{% endif %}" role="tabpanel" aria-labelledby="animal-tab">
                <br>{% include "animal/animal_data.html" %}
            </div>
            <div class="tab-pane fade {% if tab == '2' %}show active{% endif %}" role="tabpanel" aria-labelledby="consultation-tab">
                <br>
                {% if listing %}
                    {% include "services/consultation_history.html" %}
                {% elif creating or editing %}
                    {% include "services/consultation_new.html" %}
                {% endif %}
            </div>
            <div class="tab-pane fade {% if tab == '3' %}show active{% endif %}" role="tabpanel" aria-labelledby="vaccine-tab">
                <br>
                {% if listing %}
                    {% include "services/vaccine_history.html" %}
                {% elif creating or editing%}
                    {% include "services/vaccine_new.html" %}
                {% endif %}
            </div>
            <div class="tab-pane fade {% if tab == '4' %}show active{% endif %}" role="tabpanel" aria-labelledby="exam-tab">
                <br>
                {% if listing %}
                    {% include "services/exam_history.html" %}
                {% elif creating or editing%}
                    {% include "services/exam_new.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}