{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'animal/js/animal.js' %}"></script>
    <script src="{% static 'physical_examination/js/examination.js' %}"></script>
    <link href="{% static "physical_examination/css/customization.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>{{ animal.animal_name }}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        {% if animal %}
                            <li {% if tab == '1' %}class="active" {% else %}class="disabled"{% endif %}><a href="/animal/{% if editing %}edit{% else %}view{% endif %}/{{ animal.id }}">{% trans "Animal Data" %}</a></li>
                            <li {% if tab == '2' %}class="active" {% else %}class="disabled"{% endif %}><a href="/physical_examination/new/{{ animal.id }}">{% trans "Physical Examination" %}</a></li>
                        {% else %}
                            <li class="active"><a data-toggle="tab" href="/animal/new">{% trans "Animal Data" %}</a></li>
                            <li class="disabled"><a data-toggle="tab" href="" class="disabled">{% trans "Physical Examination" %}</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div {% if tab == '1' %}class="tab-pane fade in active" {% else %}class="tab-pane fade"{% endif %}>
                            <br>{% include "animal/animal_data.html" %}
                        </div>
                        <div {% if tab == '2' %}class="tab-pane fade in active" {% else %}class="tab-pane fade"{% endif %}>
                            <br>{% include "physical_examination/history.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}