{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'animal/js/animal.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>{% trans "Animal record" %}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li {% if currentTab == '0' %}class="active"{% endif %}><a href="#" data-toggle="tab">{% trans "Animal Data" %}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane {% if currentTab == '0' %}active{% endif %}" id="tab1">
                            <br>{% include "animal/animal_data.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}