{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-user"></i>
                        </div>
                        <div class="mr-5">{{ total_of_clients }} {% trans "registered customers" %}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{% url 'client_list' %}">
                        <span class="float-left">{% trans "View customers" %}</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-paw"></i>
                        </div>
                        <div class="mr-5">{{ total_of_animals }} {% trans "registered animals" %}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{% url 'animal_search' %}">
                        <span class="float-left">{% trans "View animals" %}</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">{% trans "Reports" %}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{% url 'report' %}">
                        <span class="float-left">{% trans "View reports" %}</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}