{% load i18n staticfiles %}

<form id="form_id" role="form" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Name" %} <b style="color: red;">*</b></label>
                {{ client_form.name }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Email" %}</label>
                {{ client_form.email }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Phone" %}</label>
                {{ client_form.phone }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Cellphone" %}</label>
                {{ client_form.cellphone }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Security ID" %}</label>
                {{ client_form.cpf }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "National ID card" %}</label>
                {{ client_form.rg }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Zipcode" %}</label>
                {{ client_form.zipcode }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Street" %}</label>
                {{ client_form.street }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Number" %}</label>
                {{ client_form.number }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Street complement" %}</label>
                {{ client_form.street_complement }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "District" %}</label>
                {{ client_form.district }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "City" %}</label>
                {{ client_form.city }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "State" %}</label>
                {{ client_form.state }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Country" %}</label>
                {{ client_form.country }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ client_form.note }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>

    <div class="span6 offset3 well ">
        <div class="row">
            <div class="col-12">
                <label>
                    <h4>{% trans "Contacts" %}</h4>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>{% trans "Name" %}</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>{% trans "Phone" %}</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>{% trans "Cellphone" %}</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group text-center">
                    <label>{% trans "Delete" %}</label>
                </div>
            </div>
        </div>

        {{ contact_inlineformset.management_form }}
        {% for contact in contact_inlineformset %}
            {% for hidden in contact.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="input-group  input-group-sm">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                            {{ contact.name }}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="input-group  input-group-sm">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-earphone"></span></span>
                            {{ contact.phone }}
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="input-group  input-group-sm">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-phone"></span></span>
                            {{ contact.cellphone }}
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="text-center">
                            {{ contact.DELETE }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if creating %}
        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'client_list' %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% elif editing %}
        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'client_view' client.id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    {% elif viewing %}
        <a href="{% url 'client_edit' client.id %}" class="btn btn-primary"
           style="margin-left: 5px">{% trans "Edit" %}</a>
        <a href="{% url 'client_list' %}" class="btn btn-secondary">{% trans "Back" %}</a>
        <button type="button" class="btn btn-danger float-right"
                onclick="showDialogAndEnableRemoveButton()">{% trans "Delete" %}</button>
    {% else %}
        <a href="{% url 'client_list' %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% endif %}

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Delete customer" %}</h5>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete " %} {{ client.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="disableRemoveButton()">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger" id="remove_button" value="remove" disabled
                            name="action">{% trans "Delete" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
