{% load i18n admin_static %}

<div class="card mb-3">
    <div class="card-header">
        <form method="get">
            <div class="row">
                <div class="col-sm-5 col-12">
                    <input type="text" name="date_min" class="form-control datepicker" id="id_date_0" placeholder="{% trans "Start date" %}">
                </div>
                <div class="col-sm-5 col-12">
                   <input type="text" name="date_max" class="form-control datepicker" id="id_date_1" placeholder="{% trans "End date" %}">
                </div>
                <div class="col-sm-2">
                    <button type="submit" id="search" class="btn btn-primary">{% trans "Search" %}</button>
                </div>
            </div>
        </form>
    </div>
    <form id="form_id" role="form" method="post">{% csrf_token %}
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><input class="form-check" type="checkbox" value="select_all" id="select_all_services"></th>
                                    <th class="w-20">{% trans "Date" %}</th>
                                    <th class="w-20">{% trans "Animal" %}</th>
                                    <th class="w-20">{% trans "Service" %}</th>
                                    <th class="w-15">{% trans "Paid?" %}</th>
                                    <th class="w-20">{% trans "Action" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in services.qs %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="checkbox_services form-check" name="services" value="{{ item.id }}" {% if item.payment or item.paid == 'yes' %}disabled{% endif %}>
                                        </td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.animal }}</td>
                                        <td>{{ item.service_type }}</td>
                                        <td class="text-center">
                                            {% if item.service_type == 'Exam' and item.service_cost == 0 %}
                                                <em class="fa fa-lg fa-minus-circle" style="color: gray"></em>
                                            {% elif item.paid == 'no' and item.payment %}
                                                {{ item.payment.payment_set.count }} {% trans "of" %} {{ item.payment.installment|make_list|first }}
                                            {% elif item.paid == 'no' %}
                                                <em class="fa fa-lg fa-times-circle" style="color: red"></em>
                                            {% else %}
                                                <em class="fa fa-lg fa-check" style="color: green"></em>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-warning"
                                                    {% if item.service_type == 'Consultation' %}
                                               href="{% url 'consultation_view' item.id %}"
                                                    {% elif item.service_type == 'Exam' %}
                                               href="{% url 'exam_view' item.id %}"
                                                    {% elif item.service_type == 'Vaccine' %}
                                               href="{% url 'vaccine_view' item.id %}"
                                                    {% else %}
                                               href="#"
                                                    {% endif %} data-toggle="tooltip" data-placement="left" title="{% trans "View service" %}"><em class="fa fa-eye"></em>
                                            </a>
                                            {% if item.payment %}
                                                <a class="btn btn-success" href="{% url 'payment_view' item.payment.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "View payment" %}">
                                                    <em class="fa fa-lg fa-cc-visa"></em>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">{% trans "No service found!" %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" name="action" value="pay" class="btn btn-primary">{% trans "Pay now" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>