{% load i18n admin_static %}

<div class="container">
    <div class="row">
        {% if examination_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Info" %}</th>
                    </tr>
                </thead>

                <tbody>
                {% for item in examination_list %}
                    <tr>
                        <td>
                            <a data-toggle="tooltip" data-placement="left" title="{% trans "See physical examination" %}" href="/physical_examination/view/{{ item.id }}">
                            {{ item.date }}
                            </a>
                        </td>
                        <td>
                            {% if item.body_condition %}{% trans "Body condition score" %}: {{ item.get_body_condition_display }}<br>{% endif %}
                            {% if item.temperature %}{% trans "Temperature" %}: {{ item.temperature }}<br>{% endif %}
                            {% if item.bodyweight %}{% trans "Bodyweight" %}: {{ item.bodyweight }}<br>{% endif %}
                            {% if item.respiratory_rate %}{% trans "Respiratory rate" %}: {{ item.respiratory_rate }}<br>{% endif %}
                            {% if item.heart_rate %}{% trans "Heart rate" %}: {{ item.heart_rate }}<br>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% trans "No physical examination found!" %}
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="btn-group pull-left">
            <a href="/physical_examination/new/{{ animal.id }}" class="btn btn-primary">{% trans "Insert new" %}</a>
        </div>
    </div>
</div>