{% extends "base_auth.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% trans "Reset your password" %}</div>
            <div class="card-body">
                <form method="post" novalidate>{% csrf_token %}
                    <div class="form-group">
                        <p>{% trans "Enter your email address and we will send you a link to reset your password." %}</p>
                        {% include 'includes/forms.html' %}
                    </div>
                    <button class="btn btn-primary" type="submit">{% trans "Reset password" %}</button>
                    <a href="{% url 'login' %}" class="btn btn-secondary">{% trans "Back" %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}