{% extends "base_site.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if validlink %}
                    <h3>{% trans "Change password for" %}: {{ form.user.username }}</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/forms.html' %}
                        <button type="submit" class="btn btn-success btn-block">{% trans "Change password" %}</button>
                    </form>
                {% else %}
                    <h3>{% trans "Reset your password" %}</h3>
                    <div class="alert alert-danger" role="alert">
                        {% blocktrans %}It looks like you clicked on an invalid password reset link. Please try again.{% endblocktrans %}
                    </div>
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">{% trans "Request a new password reset link" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}