{% extends "base_site.html" %}
{% load i18n static %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{% trans "Change password" %}</li>
        </ol>
        {% blocktrans %}Success! Your password has been changed!{% endblocktrans %}<br><br>
        <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Return to home page" %}</a>
    </div>
{% endblock %}