{% extends "base_site.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="card-title">{% trans "Password changed!" %}</h3>
                <div class="alert alert-success" role="alert">
                    {% blocktrans %}You have successfully changed your password! You may now proceed to log in.{% endblocktrans %}
                </div>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">{% trans "Return to log in" %}</a>
            </div>
        </div>
    </div>
{% endblock %}