{% extends "base_site.html" %}
{% load i18n static %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{% trans "Change password" %}</li>
        </ol>
        <form method="post" novalidate>{% csrf_token %}
            {% include 'includes/forms.html' %}
            <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
        </form>
    </div>
{% endblock %}