{% extends "base_site.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="card-title">{% trans "Reset your password" %}</h3>
                {% blocktrans %}Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.{% endblocktrans %}
                <br>
                <a href="{% url 'home' %}" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
            </div>
        </div>
    </div>
{% endblock %}