{% extends "base_site.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" novalidate>{% csrf_token %}
                <div class="col-md-6">
                    <h3>{% trans "Reset your password" %}</h3>
                    <p>{% trans "Enter your email address and we will send you a link to reset your password." %}</p>
                    {% include 'includes/forms.html' %}
                </div>
                <div class="col-md-12">
                    <div class="btn-toolbar btn-group pull-left">
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Reset password" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}