{% extends "base_site.html" %}
{% load i18n admin_static %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_list' %}">{% trans "Users" %}</a></li>
            <li class="breadcrumb-item active">{% trans "New user" %}</li>
        </ol>

        <form role="form" method="post">{% csrf_token %}
            {% include 'includes/forms.html' %}
            {% if creating %}
                <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% url 'user_list' %}" class="btn btn-secondary">{% trans "Back" %}</a>
            {% endif %}
        </form>
    </div>
{% endblock %}