{% extends "base_auth.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% trans "Sign in" %}</div>
            <div class="card-body">
                <form method="post" novalidate>{% csrf_token %}
                    <div class="form-group">
                        {% include 'includes/forms.html' %}
                        <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
                    </div>
                    <button class="btn btn-primary" type="submit" id="signin" name="action" value="signin">{% trans "Enter" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
