{% extends 'base_site.html' %}
{% load i18n static %}

{% block extrahead %}
    <script>
        $(window).load(function () {
            $('#modalSignup').modal('show');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="modal fade" id="modalSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>{% trans "Sign up" %}</h4>
                </div>
                <div class="modal-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="modal-body">
                            {% include 'includes/forms.html' %}
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" href="{% url 'authentication' %}">{% trans "Back" %}</a>
                            <button class="btn btn-primary" type="submit" id="signup" name="action" value="signup">{% trans "Save" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}