{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block head_title %}MedVet{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

        {% block extrahead %}
        {% endblock %}
    </head>

    <body class="bg-dark">
        {% block content %}
        {% endblock %}

        <!-- Bootstrap core JavaScript-->
        <script src="{% static "js/jquery/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static "js/jquery-easing/jquery.easing.min.js" %}"></script>
    </body>
</html>
