{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}MedVet{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Jquery -->
    <link href="{% static 'js/jquery/jquery-ui.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-ui.js' %}"></script>

    <!-- Datepicker -->
    <script src="{% static 'js/datepicker.js' %}"></script>

    <!-- Simple javascript notifications -->
    <link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
    <script src="{% static 'toastr/toastr.js' %}"></script>
    <script src="{% static 'toastr/toastr_messages.js' %}"></script>

    <!-- Jquery multiselect -->
    <link href="{% static "css/multiselect.css" %}" rel="stylesheet">
    <script src="{% static 'js/multiselect/multiselect.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extrahead %}
    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="{% url 'home' %}">MedVet</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include "menu.html" %}
    </nav>

    <!-- Page Content -->
    {% if messages %}
        {% for message in messages %}

            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %}

    <div class="content-wrapper">
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <br>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>{% trans "This system is licensed under the" %}&nbsp<a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">Mozilla Public License Version 2.0</a></small>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button -->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript -->
    <script src="{% static "js/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for all pages -->
    <script src="{% static "js/sb-admin.min.js" %}"></script>
</body>

</html>
