{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'physical_examination/js/filter_animal_name.js' %}"></script>
{% endblock extrahead%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h4>{% trans "Search animal" %}</h4>
                <div class="form-group">
                    <div class="text-right">
                        {% trans "You have" %} {{ clients|length }}
                        {% if clients|length == 1 %}
                            {% trans "client and" %}
                        {% else %}
                            {% trans "clients and" %}
                        {% endif %}
                        {{ animals|length }}
                        {% if animals|length == 1 %}
                            {% trans "animal registered." %}
                        {% else %}
                            {% trans "animals registered." %}
                        {% endif %}
                    </div>
                    <br>
                    <form role="form" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <label for="name" class="control-label">{% trans "Owner" %}</label>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans "Add new owner" %}
                                    </div>
                                </div>
                                <select class="form-control" name="owner" id="id_owner" onchange="ajax_filter_animal_name(this.value)">
                                    <option value="0">-------</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <label for="cpf" class="control-label">{% trans "Animal" %}</label>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <a href="{% url 'animal.views.add_animal' %}">{% trans "Add new animal" %}</a>
                                    </div>
                                </div>
                                <select class="form-control" name="animal" id="id_animal">
                                    <option value="0">-------</option>
                                    {% for animal in animals %}
                                        <option value="{{ animal.id }}">{{ animal }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" id="submit">{% trans "Search" %}</button>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}