{% extends "base_site.html" %}
{% load i18n admin_static %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'report' %}">{% trans "Reports" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Unpaid" %}</li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <form method="get">
                    <div class="row">
                        <div class="col-sm-5 col-12">
                            <input type="text" name="date_min" class="form-control datepicker" id="id_date_0" placeholder="{% trans "Start date" %}">
                        </div>
                        <div class="col-sm-5 col-12">
                           <input type="text" name="date_max" class="form-control datepicker" id="id_date_1" placeholder="{% trans "End date" %}">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" id="search" class="btn btn-primary">{% trans "Search" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="w-20">{% trans "Date" %}</th>
                                        <th class="w-20">{% trans "Service" %}</th>
                                        <th class="w-20">{% trans "Animal" %}</th>
                                        <th class="w-25">{% trans "Customer" %}</th>
                                        <th class="w-15 text-center">{% trans "Action" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in unpaid_list.qs %}
                                        <tr>
                                            <td>{{ item.date }}</td>
                                            <td>{{ item.service_type }}</td>
                                            <td>{{ item.animal }}</td>
                                            <td>{{ item.animal.owner }}</td>
                                            <td class="text-center">
                                                <a class="btn btn-primary"
                                                   href="{% url 'client_service_list' item.animal.owner.id %}"> {% trans "Enter" %}</a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5"
                                                class="text-center">{% trans "No unpaid service found!" %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}