{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'animal/js/animal.js' %}"></script>
    {% if not viewing %}<script src="{% static 'services/js/consultation.js' %}"></script>{% endif %}
    <link href="{% static "services/css/customization.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'animal_search' %}">{% trans "Animals" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'consultation_list' consultation.animal_id %}">{% trans "Consultations" %}</a></li>
            <li class="breadcrumb-item active">{{ consultation.animal.animal_name }}</li>
        </ol>
        {% include "services/consultation_new.html" %}
    </div>
{% endblock %}