{% load i18n admin_static %}

{% block extrahead %}
    <script src="{% static 'services/js/remove.js' %}"></script>
{% endblock %}

<form role="form" method="post">{% csrf_token %}
    {% include "services/exam_table.html" %}

    <div class="modal fade" id="modalRemoveExam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Delete exam" %}</h5>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete this exam?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="disableRemoveButton()">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger" id="removeExam" value="remove-" name="action" disabled>{% trans "Delete" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
