{% load i18n admin_static %}

<form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Date" %} <b style="color: red;">*</b></label>
                {{ exam_form.date }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Type" %} <b style="color: red;">*</b></label>
                {{ exam_form.exam_type }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ exam_form.note }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ exam_form.exam_file }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>

    {% if creating %}
        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'exam_list' animal.id %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% elif editing %}
        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'exam_list' animal.id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    {% elif viewing %}
        <a href="{% url 'exam_update' animal.id %}" class="btn btn-primary" style="margin-left: 5px">{% trans "Edit" %}</a>
        <a href="{% url 'exam_list' animal.id %}" class="btn btn-secondary">{% trans "Back" %}</a>
        <button type="button" class="btn btn-danger float-right" onclick="showDialogAndEnableRemoveButton()">{% trans "Delete" %}</button>
    {% else %}
        <a href="{% url 'exam_list' animal.id %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% endif %}

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Delete exam" %}</h5>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete this exam?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="disableRemoveButton()">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger" id="remove_button" value="remove" disabled name="action">{% trans "Delete" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>