{% load i18n admin_static %}

<form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div class="form-group">
                <label class="control-label">{% trans "Date" %} <b style="color: red;">*</b></label>
                {{ exam_form.date }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="form-group">
                <label class="control-label">{% trans "Type" %} <b style="color: red;">*</b></label>
                {{ exam_form.exam_type }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ exam_form.note }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ exam_form.exam_file }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="btn-toolbar">
                {% if creating %}
                    <div class="btn-group pull-right">
                        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="/service/exam/list/{{ animal.id }}" class="btn" style="background-color: #f5f5f5">{% trans "Cancel" %}</a>
                    </div>
                {% elif editing %}
                    <div class="btn-group pull-right">
                        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="/service/exam/list/{{ exam.animal_id }}" class="btn" style="background-color: #f5f5f5">{% trans "Cancel" %}</a>
                    </div>
                {% elif viewing %}
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-danger" onclick="showDialogAndEnableRemoveButton()">{% trans "Delete" %}</button>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="/service/exam/edit/{{ exam.id }}" class="btn btn-primary">{% trans "Edit" %}</a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="/service/exam/list/{{ exam.animal_id }}" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
                    </div>
                {% else %}
                    <div class="btn-group pull-right">
                        <a href="/" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% trans "Are you sure you want to delete this exam?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="disableRemoveButton()">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger" id="remove_button" value="remove" disabled name="action">{% trans "Delete" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>