{% load i18n admin_static %}

<form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Date" %} <b style="color: red;">*</b></label>
                {{ exam_form.date }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Type" %} <b style="color: red;">*</b></label>
                {{ exam_form.exam_type }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ exam_form.note }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">{% trans "Note" %}</label>
                {{ exam_form.exam_file }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>

    {% if creating %}
        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'exam_list' animal.id %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% elif editing %}
        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'exam_list' exam.animal.id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    {% endif %}
</form>