{% load i18n staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Experiment</title>
        <style type="text/css">
            @page {
                size: a4 portrait;
                margin: 2cm 2cm 2cm 2cm;
                padding:0;
            }
            body {
                all: unset;
                line-height: 10px;
                font-size: 16px;
                text-align: justify;
            }
        </style>
    </head>
    <body>
        <div>
            {% block content %}
                {% if exam %}
                    <p>{% trans "Animal's Name" %}: {{ exam.animal }}</p>
                    <p>{% trans "Specie" %}: {{ exam.animal.specie }}</p>
                    <p>{% trans "Sex" %}: {{ exam.animal.get_sex_display }}</p>
                    <p>{% trans "Age" %}: {{ exam.animal.age }}</p>
                    <br>
                    <p>{% trans "Owner" %}: {{ exam.animal.owner }}</p>
                    <br>
                    <p>
                        {% blocktrans %}
                            Dear colleague,<br><br>
                            I ask for the animal mentioned above the following exams:
                        {% endblocktrans %}
                    </p>
                    <ul>
                        {% for item in exam.exam_type.all %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    <br>
                    <p>S&atilde;o Paulo, {{ date }}.</p>
                {% else %}
                    {% trans "No exam found." %}
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>