{% load i18n admin_static %}

<div class="row">
    <div class="col-lg-12">
    {% if vaccine_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Date of vaccination" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Booster" %}</th>
                    <th>{% trans "Info" %}</th>
                </tr>
            </thead>

            <tbody>
            {% for item in vaccine_list %}
                <tr>
                    <td>
                        <a data-toggle="tooltip" data-placement="left" title="{% trans "See vaccine" %}" href="/service/vaccine/view/{{ item.id }}">
                        {{ item.date|date:"DATE_FORMAT" }}
                        </a>
                    </td>
                    <td>{{ item.vaccine_type }}</td>
                    <td>{{ item.booster }}</td>
                    <td>
                        {% if item.lot or item.note %}
                            {% if item.lot %}{% trans "Lot" %}: {{ item.lot }}<br>{% endif %}
                            {% if item.note %}{% trans "Note" %}: {{ item.note }}<br>{% endif %}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans "No vaccine found!" %}
    {% endif %}
    </div>
</div>
<br>
<div class="row">
    <div class="btn-group pull-left">
        <a href="/service/vaccine/new/{{ animal.id }}" class="btn btn-primary">{% trans "Insert new" %}</a>
    </div>
</div>
